.version.index /* version checker */
{
	color: #000011;
	background-color: #B5AE03;
}

#page
{
	z-index: 1;
	width: 950px;
	min-height: 499.79999999999745px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#u633
{
	z-index: 2;
	border-style: solid;
	border-color: #2AFF9B;
	background-color: #1E1E1E;
	padding-bottom: 12px;
	border-width: 1px 0px 0px;
}

#nosotros
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 548px;
}

#u633-bw
{
	z-index: 2;
	height: 566px;
}

#pu510
{
	width: 0.01px;
	padding-bottom: 307px;
	margin-left: -100px;
	margin-top: -579px;
}

#u510
{
	z-index: 145;
	height: 32px;
	top: 0px;
}

#u510-bw
{
	z-index: 145;
}

#u639-4
{
	z-index: 149;
	width: 294px;
	min-height: 36px;
	top: 5px;
	left: 124px;
}

#u609-4
{
	z-index: 141;
	width: 294px;
	min-height: 36px;
	color: #2AFF9B;
	text-align: center;
	position: fixed;
	top: 271px;
	left: 328px;
}

#u609
{
	line-height: 36px;
}

.js #u609-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u634
{
	z-index: 146;
	width: 9px;
	height: 9px;
	top: 11px;
	left: 50%;
	margin-left: -45px;
}

#u634:hover
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px 0px 0px -45px;
}

#u634.MuseLinkActive
{
	width: 10px;
	height: 10px;
	min-height: 1px;
	margin: 0px 1px 1px -45px;
}

#u635
{
	z-index: 147;
	width: 9px;
	height: 9px;
	top: 11px;
	left: 50%;
	margin-left: -5px;
}

#u635:hover
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px 0px 0px -5px;
}

#u635.MuseLinkActive
{
	width: 10px;
	height: 10px;
	min-height: 1px;
	margin: 0px 1px 1px -5px;
}

#u636
{
	z-index: 148;
	width: 9px;
	height: 9px;
	top: 11px;
	left: 50%;
	margin-left: 35px;
}

#u636:hover
{
	width: 9px;
	height: 9px;
	min-height: 0px;
	margin: 0px 0px 0px 35px;
}

#u636.MuseLinkActive
{
	width: 10px;
	height: 10px;
	min-height: 1px;
	margin: 0px 1px 1px 35px;
}

#slideshowu511
{
	z-index: 4;
	width: 0.01px;
	height: 550px;
	left: -100px;
	position: relative;
}

#u514
{
	position: absolute;
	width: 1150px;
	height: 550px;
	background-color: transparent;
}

#u514popup
{
	z-index: 5;
}

#u517
{
	z-index: 6;
	width: 1150px;
	height: 550px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	margin-right: -10000px;
	position: relative;
}

#u574
{
	z-index: 8;
	width: 1150px;
	height: 550px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	margin-right: -10000px;
	position: relative;
}

#u623
{
	z-index: 10;
	width: 1150px;
	height: 550px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	margin-right: -10000px;
	position: relative;
}

#u521
{
	position: absolute;
	width: 776px;
	top: 191px;
	left: 187px;
}

#u521popup
{
	z-index: 12;
}

#u524-4
{
	z-index: 13;
	width: 756px;
	min-height: 240px;
	padding: 10px;
	text-align: center;
	margin-right: -10000px;
	position: relative;
}

#u580-4
{
	z-index: 17;
	width: 756px;
	min-height: 240px;
	padding: 10px;
	text-align: center;
	margin-right: -10000px;
	position: relative;
}

#u629-4
{
	z-index: 21;
	width: 756px;
	min-height: 240px;
	padding: 10px;
	text-align: center;
	margin-right: -10000px;
	position: relative;
}

#u524,#u580,#u629
{
	line-height: 72px;
}

#u526-4
{
	position: absolute;
	width: 10px;
	min-height: 84px;
	padding: 10px;
	line-height: 20px;
	color: #1E1E1E;
	text-align: center;
	top: 239px;
	left: 100px;
}

#u526-4popup
{
	z-index: 25;
}

#u536-4
{
	position: absolute;
	width: 10px;
	min-height: 84px;
	padding: 10px;
	line-height: 20px;
	color: #1E1E1E;
	text-align: center;
	top: 239px;
	left: 1020px;
}

#u536-4popup
{
	z-index: 29;
}

#u526,#u536
{
	font-size: 60px;
	font-family: advent-pro, sans-serif;
	font-weight: 700;
	line-height: 84px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu632
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -550px;
}

#u632
{
	z-index: 3;
	height: 549px;
	border-style: solid;
	border-color: #2AFF9B;
	background-color: #2AFF9B;
	opacity: 0.22;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=22)";
	filter: alpha(opacity=22);
	border-width: 1px 0px 0px;
}

#u632-bw
{
	z-index: 3;
	height: 549px;
}

#u289-4
{
	z-index: 137;
	width: 157px;
	background-color: #2AFF9B;
	padding-left: 5px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#u253
{
	z-index: 33;
	height: 549px;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#7F7F7F ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#7F7F7F ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#7F7F7F ,#FFFFFF 100%);
	filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF7F7F7F, endColorstr=#FFFFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF7F7F7F', endColorstr='#FFFFFFFF', GradientType=0)";
	border-style: solid;
	border-color: #2AFF9B;
	opacity: 0.3;
	border-width: 1px 0px 0px;
}

#u253-bw
{
	z-index: 33;
	height: 549px;
}

#u77-4
{
	z-index: 34;
	width: 117px;
	min-height: 54px;
	border-style: solid;
	border-color: #2AFF9B;
	background-color: transparent;
	padding-right: 5px;
	line-height: 17px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 124px;
	border-width: 0px 1px 0px 0px;
}

#u79-8
{
	z-index: 38;
	width: 162px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 256px;
}

#u84-4
{
	z-index: 46;
	width: 117px;
	min-height: 54px;
	border-style: solid;
	border-color: #2AFF9B;
	background-color: transparent;
	padding-right: 5px;
	line-height: 17px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 428px;
	border-width: 0px 1px 0px 0px;
}

#u85-6
{
	z-index: 50;
	width: 162px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 560px;
}

#u86-4
{
	z-index: 56;
	width: 117px;
	min-height: 54px;
	border-style: solid;
	border-color: #2AFF9B;
	background-color: transparent;
	padding-right: 5px;
	line-height: 17px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 732px;
	border-width: 0px 1px 0px 0px;
}

#u77,#u84,#u86
{
	line-height: 26px;
}

#u87-7
{
	z-index: 60;
	width: 162px;
	min-height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 233px;
	left: 864px;
}

#u79-5,#u85-3,#u87-2,#u87-4
{
	line-height: 17px;
}

#u79-6,#u85-4,#u87-5
{
	font-size: 12px;
	line-height: 14px;
}

#u256-4
{
	z-index: 126;
	width: 157px;
	background-color: #2AFF9B;
	padding-left: 5px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#servicios,#contacto
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 520px;
}

#pu253,#pu203
{
	width: 0.01px;
	margin-left: -100px;
}

#u203
{
	z-index: 67;
	border-style: solid;
	border-color: #2AFF9B;
	background-color: #1E1E1E;
	padding-bottom: 725px;
	border-width: 1px 0px 0px;
}

#u633_align_to_page,#u203_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	position: relative;
	left: -100px;
}

#u252-4
{
	z-index: 122;
	width: 209px;
	background-color: #2AFF9B;
	padding-left: 5px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 100px;
}

#u609-2,#u524-2,#u580-2,#u629-2,#u526-2,#u536-2,#u289-2,#u77-2,#u84-2,#u86-2,#u256-2,#u252-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u289,#u256,#u252
{
	text-decoration: underline;
	line-height: 36px;
}

#u297-4
{
	z-index: 133;
	width: 314px;
	min-height: 19px;
	border-style: solid;
	border-color: #2AFF9B;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 418px;
	border-width: 0px 0px 1px;
}

#u297
{
	font-size: 14px;
}

#u203-bw
{
	z-index: 67;
	height: 95px;
}

#widgetu234
{
	z-index: 68;
	width: 0.01px;
	height: 266px;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 418px;
}

#widgetu242
{
	z-index: 69;
	width: 314px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu242.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px -10000px 0px 0px;
}

#u244-4
{
	z-index: 70;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#u245-3
{
	z-index: 74;
	width: 302px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	line-height: 12px;
	color: #C4C4C4;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

.html,#widgetu242.non-empty-st #u245-3
{
	background-color: #FFFFFF;
}

#widgetu242:hover #u245-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu242.focus-st #u245-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu242.non-empty-st #u245-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu242:hover #u245-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu242.focus-st #u245-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu247
{
	z-index: 77;
	width: 314px;
	height: 46px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu247.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 60px -10000px 0px 0px;
}

#u249-4
{
	z-index: 78;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#widgetu247.fld-err-st #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u250-3
{
	z-index: 82;
	width: 302px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	line-height: 12px;
	color: #C4C4C4;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu247.non-empty-st #u250-3
{
	background-color: #FFFFFF;
}

#widgetu247:hover #u250-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu247.focus-st #u250-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu242.fld-err-st #u245-3,#widgetu247.fld-err-st #u250-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu247.non-empty-st #u250-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu247:hover #u250-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu247.focus-st #u250-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu242_input,#widgetu247_input
{
	width: 302px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 12px;
	font-style: italic;
	padding: 6px;
}

#u240-4
{
	z-index: 85;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu234.frm-sub-st #u240-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u241-4
{
	z-index: 89;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu234.frm-subm-err-st #u241-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u239-4
{
	z-index: 93;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 140px;
}

#widgetu234.frm-sub-st #u240-4,#widgetu234.frm-subm-err-st #u241-4,#widgetu234.frm-subm-ok-st #u239-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu234.frm-subm-ok-st #u239-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u246-17
{
	z-index: 97;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	background: url("../images/u246-17.png") no-repeat 0px 0px;
}

#u246-17:hover
{
	background: url("../images/u246-17-r.png") no-repeat 0px 0px;
}

#u246-17:active
{
	background: url("../images/u246-17-m.png") no-repeat 0px 0px;
}

#widgetu234.frm-sub-st #u246-17
{
	background: url("../images/u246-17-fs.png") no-repeat 0px 0px;
}

#widgetu235
{
	z-index: 114;
	width: 314px;
	height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu235.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 120px -10000px 0px 0px;
}

#u238-4
{
	z-index: 115;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	position: relative;
	margin-right: -10000px;
}

#widgetu242.fld-err-st #u244-4,#widgetu235.fld-err-st #u238-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#widgetu242.fld-err-st #u244-4 p,#widgetu242.fld-err-st #u244-4 span,#widgetu247.fld-err-st #u249-4 p,#widgetu247.fld-err-st #u249-4 span,#widgetu235.fld-err-st #u238-4 p,#widgetu235.fld-err-st #u238-4 span
{
	color: #D7244C;
}

#u244,#u249,#u238
{
	color: #2AFF9B;
}

#u237-3
{
	z-index: 119;
	width: 302px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: transparent;
	padding: 6px;
	line-height: 12px;
	color: #C4C4C4;
	font-size: 12px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: -1px;
}

#widgetu235.non-empty-st #u237-3
{
	background-color: #FFFFFF;
}

#widgetu235:hover #u237-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu235.focus-st #u237-3
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu235.fld-err-st #u237-3
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 302px;
	margin: 19px -10000px -1px 0px;
}

#widgetu235.non-empty-st #u237-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu235:hover #u237-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu235.focus-st #u237-3 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu242.fld-err-st #u245-3 *,#widgetu247.fld-err-st #u250-3 *,#widgetu235.fld-err-st #u237-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu235_input
{
	width: 302px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 12px;
	font-style: italic;
	padding: 6px;
}

#widgetu242:hover #widgetu242_input,#widgetu242.focus-st #widgetu242_input,#widgetu242.fld-err-st #widgetu242_input,#widgetu247:hover #widgetu247_input,#widgetu247.focus-st #widgetu247_input,#widgetu247.fld-err-st #widgetu247_input,#widgetu235:hover #widgetu235_input,#widgetu235.focus-st #widgetu235_input,#widgetu235.fld-err-st #widgetu235_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

body
{
	position: relative;
	min-width: 950px;
}

#page .verticalspacer
{
	clear: both;
}

